
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TopBar</title>
    <link href="@Url.Content("~/Content/topnav.css")" rel="stylesheet" type="text/css" />
    <script>
        window.BasePath = '@Url.Content("~")';
    </script>

    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/MyAppGlobal.js"></script>

    @RenderSection("scripts", false)

</head>
<body>
    <div class="topnav"> 
        <a href="/User/NewFolder">New Folder</a>
        <a href="/User/Logout">Logout</a>
    </div>
</body>
</html>
